{% extends "index.html" %}
{% block results %}

        <strong><br /><span style="color: #B43104"><h4>{{ word_laban }} :  {{ data_laban }}</h4></span></strong>
    
	<a class="hidden-xs" title="Phát âm kiểu Anh-Mỹ" href="{{sound1}}">{{ sound1 }}</a>
	<a class="hidden-xs" title="Phát âm kiểu Anh-Anh" href="{{sound2}}">{{ sound2 }}</a>
    
	
    {% for item_glosbe in items %}
	<strong><br /><span style="color: #088A08"><h4>{{ item_glosbe['first'] }}</h4></span></strong>
	<strong><span style="color: #585858"><h4>{{ item_glosbe['second'] }}</h4></span></strong>
    {% endfor %}
    

{% endblock %}
